##
## Git ignores for the Simples Notes iOS app project.
## Specifies files that should be ignored by Git.
## 
## For more information please see:
## https://git-scm.com/docs/gitignore
##

## Hidden file created by macOS for tracking folder attributes.
## This is strictly personal information and can be safely ignored.
.DS_Store

## Xcode build directories.
build/
DerivedData/

## Various settings.
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## This file exists for managing Xcode's knowledge of the possibly many VCS systems in 
## your project. For > 99% of the projects the .xccheckout file is configuration overkill.
## http://stackoverflow.com/a/18448100/819340
**/*.xcodeproj/**/*.xccheckout
**/*.xcworkspace/**/*.xccheckout

## Other.
*.moved-aside
*.xcscmblueprint

## Objective-C/Swift specific.
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds.
timeline.xctimeline
playground.xcworkspace

## Swift Package Manager
##
## Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
## Packages/
## Package.pins
## Package.resolved
.build/

## CocoaPods
##
## For a better development experience, we version all content downloaded by CocoaPods.
## As such, you do *not* need to run `pod install` after pulling new code.
## A detailed discussion is available at:
## https://guides.cocoapods.org/using/using-cocoapods.html
##
## Pods/

## fastlane
##
## It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
## screenshots whenever they are needed.
## For more information about the recommended setup visit:
## https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
